<header>
    <nav>
        <div class="nav-wrapper teal accent-4">
            <div id="nav-mobile">
                <a href="/main" class="brand-logo right"><i class="material-icons">home</i></a>
            </div>
        </div>
    </nav>

    <div class="parallax-container center valign-wrapper" style="height: 300px;">
        <div class="parallax"><img src="assets/img/favorite.jpg"></div>
        <div class="container">
            <div class="row">
                <div class="col s12 white-text">
                    <h2>Purr-fect Match</h2>
                </div>
            </div>
        </div>
    </div>
</header>

<h1 class="center">My favorites</h1>
<div class="container">
    <div class="row">
        {{#each animals}}
        <div id="card-{{id}}" class="col s12 m4">
            <div class="card" style="height: 580px">
                <div class="card-image">
                    <img src="{{photos.0.medium}}" style="height:230px; object-fit:cover">
                    <span class="card-title" style="text-shadow:3px 3px 5px #000000">
                        {{name}}
                    </span>
                </div>
                <div class="card-content">
                    <i class="material-icons delete-btn right" style="cursor: pointer" data-id="{{id}}">clear</i>
                    {{#if breeds.primary}}
                    <h6>Breed: {{breeds.primary}}</h6>
                    {{/if}}
                    {{#if gender}}
                    <h6>Gender: {{gender}}</h6>
                    {{/if}}
                    {{#if age}}
                    <h6>Age: {{age}}</h6>
                    {{/if}}
                    {{#if colors.primary}}
                    <h6>Color: {{colors.primary}}</h6>
                    {{/if}}
                    {{#if size }}
                    <h6>Size: {{size}}</h6>
                    {{/if}}
                    {{#if coat}}
                    <h6>Coat: {{coat}}</h6>
                    {{/if}}
                    {{#if description }}
                    <h6>Description: {{description}}</h6>
                    {{/if}}
                </div>
                <div style="position: absolute; bottom: 24px; left: 24px">
                    <a href="/pets/{{id}}" class="btn waves-effect teal">Read</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>